{{/* Related posts (non-series). Exclude current page and any in same series already displayed */}}
{{- $page := . -}}
{{- if not .Params.disableRelated }}
  {{- $related := .Site.RegularPages.Related . | first 6 -}}
  {{- if not (gt (len $related) 0) -}}
    {{/* Fallback: manual similarity by tags then categories */}}
    {{- $tags := slice }}
    {{- with .Params.tags }}{{ $tags = . }}{{ end }}
    {{- if gt (len $tags) 0 }}
      {{- $related = where (where .Site.RegularPages "Permalink" "ne" .Permalink) "Params.tags" "intersect" $tags | first 6 -}}
    {{- end }}
    {{- if and (eq (len $related) 0) (isset .Params "categories") }}
      {{- $related = where (where .Site.RegularPages "Permalink" "ne" .Permalink) "Params.categories" "intersect" .Params.categories | first 6 -}}
    {{- end }}
  {{- end }}
  {{- if gt (len $related) 0 }}
  <section class="related-posts">
    <h2>Related Posts</h2>
    <ul class="related-posts-list">
      {{- range $related }}
        <li class="related-card">
          <a class="related-card-link" href="{{ .RelPermalink }}" title="{{ .Title }}">
            {{ with .Params.thumbnail }}<img class="related-card-thumb" src="/{{ . }}" alt="" loading="lazy" />{{ end }}
            <div class="related-card-body">
              <div class="related-card-title" title="{{ .Title }}">{{ .Title }}</div>
              <div class="related-card-meta">
                <span class="related-card-date">{{ .Date.Format "Jan 2, 2006" }}</span>
                {{ with .Params.tags }}
                  {{ $limited := (first 2 .) }}
                  <span class="related-card-tags">{{ delimit $limited ", " }}</span>
                {{ end }}
              </div>
            </div>
          </a>
        </li>
      {{- end }}
    </ul>
  </section>
  {{- end }}
{{- end }}
