{{- /* Enhanced YouTube shortcode with clean JSON-LD (no double-quoted values) and richer VideoObject */ -}}
{{- $youtubeHost := "https://www.youtube.com/watch?v=" -}}
{{- $paramDuration := .Get "duration" -}} {{/* optional ISO 8601 duration e.g. PT3M12S */}}
{{- $idRaw := .Get 0 -}}
{{- if in $idRaw $youtubeHost }}
  {{- $idRaw = strings.TrimPrefix $youtubeHost $idRaw -}}
{{- end -}}
{{- $videoId := $idRaw | strings.TrimSpace -}}
{{- $embed := printf "https://www.youtube.com/embed/%s?controls=1&rel=0" $videoId -}}
{{- $watch := printf "https://www.youtube.com/watch?v=%s" $videoId -}}
{{- $thumbHq := printf "https://i.ytimg.com/vi/%s/hqdefault.jpg" $videoId -}}
{{- $thumbMax := printf "https://i.ytimg.com/vi/%s/maxresdefault.jpg" $videoId -}}
{{- $title := .Page.Title -}}
{{- /* Prefer an explicit description param (second param) else page summary then title */ -}}
{{- $explicitDesc := .Get 1 | default "" -}}
{{- $rawSummary := cond (ne $explicitDesc "") $explicitDesc (cond (gt (len .Page.Summary) 0) .Page.Summary .Page.Title) -}}
{{- $plain := $rawSummary | plainify | htmlUnescape -}}
{{- $summary := cond (gt (len $plain) 230) (printf "%s…" (truncate 229 $plain)) $plain -}}
{{- $uploadDate := (.Page.Date.UTC.Format "2006-01-02T15:04:05Z07:00") -}}
{{- $author := or .Page.Params.author .Site.Params.author -}}
{{- $lang := .Page.Lang -}}
{{- $pageURL := .Page.Permalink -}}
{{- $logo := (absURL .Site.Params.logo) -}}
{{- $videoIdURI := printf "%s#video-%s" $pageURL $videoId -}}

<div class="video" data-video-id="{{ $videoId }}">
  <iframe src="{{ $embed }}" loading="lazy" title="{{ $title | html }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

{{- /* Build VideoObject as a dict to avoid per-field string quoting issues */ -}}
{{- $video := dict
  "@context" "https://schema.org"
  "@type" "VideoObject"
  "@id" $videoIdURI
  "name" $title
  "description" $summary
  "thumbnailUrl" (slice $thumbMax $thumbHq)
  "uploadDate" $uploadDate
  "datePublished" $uploadDate
  "inLanguage" $lang
  "isFamilyFriendly" true
  "author" (dict "@type" "Person" "name" $author)
  "publisher" (dict "@type" "Organization" "name" .Site.Title "logo" (dict "@type" "ImageObject" "url" $logo))
  "embedUrl" $embed
  "contentUrl" $watch
  "mainEntityOfPage" $pageURL
}}
{{- if $paramDuration -}}
  {{- $video = merge $video (dict "duration" $paramDuration) -}}
{{- end -}}

<script type="application/ld+json">{{ $video | jsonify | safeJS }}</script>

<noscript><p>Watch on YouTube: <a href="{{ $watch }}">{{ $title | html }}</a></p></noscript>
